:root {
    --brand-color: #212121;
    --item-color: #2196f3;
    --link-color: #757575;
    --second-background: #f5f4fa;
    --third-background: #2f303a;
}

body {
    font-size: 14px;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

.container {
    margin:auto;
    width: 1600px;
}

.header-box {
    border-bottom: 1px solid #ECECEC;
}

.menu {
    padding: 10px;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
}

ul {
    list-style-type: none;
}

.menu.liitem:not(:last-child) {
    margin-right: 10px;
}

.header-boxin {
    top: 0px;
    left: 0px;
    width: 1600px;
    margin: auto;
}

.main-box {
    bottom: 94px;
    top: 94px;
    margin:auto;
    width: 1170px;
}

.main-box ul {
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-around;  
}

.lorem p{
    margin-left: 215px;
    margin-right: 215px;
    place-items: baseline normal;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #212121;
}

.wwd {
    top: 969px;
    bottom: 94px;
    color: #212121;
    text-align: center;
}

.wwdp {
    align-content: space-between 30px;
    height: 386px;
    margin: auto;
    width: 1170px;
}

.wwdp ul {
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.team {
    position: center;
        height: 42px;
        margin-left: 695px;
        margin-right: 695px;    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}


figure {
    width: 270px;
    height: 368px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.teamp {
    height: 94;
    margin: auto;
}

.team li {
    justify-content: space-between;
}


.teamp ul {
    flex-direction: row;
    display: flex;
    margin-left: 215px;
    margin-right: 215px;
}

.boxunderphoto{
    text-align: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-direction: row;
    display: flex;
}

a:link {
    color: rgba(255, 255, 255, 0.6);;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #2196F3;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #2196F3;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #2196F3;
    background-color: transparent;
    text-decoration: underline;
}

.footer-box {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
    height: 252px;
    background-color: #2f303a;
    line-height: 24px;
    padding-top: 60px;
    padding-left: 215px;
}

.effect {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    width: auto;
    align-items: center;
    top: 80px;
    left: 0px;
    background-color: var(--third-background);
    color: #ffffff;
}

button {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #2196f3;
    color: #ffffff;
}

.logo {
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--item-color);
}

.logo-color {
    color: var(--brand-color);
}

.footer-box .logo-color {
    color: #FFFFFF;
}

a.menu-item, .logo {
    color: #757575;
}

a.menu-item:focus,
a.menu-item:hover {
    background-color: none;
    color: #2196F3;
    text-decoration: underline;
}

.portfolio-item {
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
}


.portfolio-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
}

.filters {
    padding-top: 100px;
    padding-bottom: 56px;
    display: flex;
    justify-content: center;
}

.filter-single {
    background-color: var(--second-background);
    border: none;
    color: black;
    width: 93px;
    height: 38px;
    text-align: center;
    text-decoration: var(--text-decoration);
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

figure {
    text-align: center;
    line-height: 19px;
}

.filter-single:focus,
.filter-single:hover {
    text-decoration: underline #2196F3;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 6px;
}